.NavBar{
    justify-self: center;
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 284px;
        a{
        text-decoration: none;
        font-size: 18px;
            &:hover{
                color: var(--detain-color);
            }
       }
    }
    .active{
        color: var(--detain-color);
    }
}
@media (max-width : 768px) {
    .NavBar{
        ul{
            display: flex;
            justify-content: space-between;
            width: 50%;
            a{
            padding: 0 10px;
            font-size: 16px;
           }
        }
    }
}